* {
  --primary-color: #ff00409c;
  --primary-color-rgb: 92, 37, 141;
  --secondary-color: #140007;
  --primary-gradient: 45deg, var(--primary-color), var(--secondary-color);
  --bg-dark-1: #580510;
  --bg-dark-2: #80097a;
  --bg-dark-3: #db0f86;  
  --bg-dark-1-rgb: 18, 19, 44;
}

