* {
  --primary-color: #bd0019;
  --primary-color-rgb: 74, 129, 211;
  --secondary-color:rgb(0, 0, 0);
  --primary-gradient: 45deg, var(--primary-color), var(--secondary-color);
  --bg-dark-1: #ec072d79;
  --bg-dark-2: #85030e;
  --bg-dark-3: #b41142;  
  --bg-dark-1-rgb: 18, 19, 44;
}

